In [80]:
import os
import csv
import pandas as pd
import requests
import yfinance as yf
import numpy as np
import datetime as dt
import matplotlib as plt
from sklearn import datasets
from scipy.stats import linregress

In [90]:
file=os.path.join("..","Homework-07-Group Project","Stock Betas.csv")
output_stock_price=os.path.join("..","Homework-07-Group Project","Stock Prices.csv")
virus_file=os.path.join("..","Homework-07-Group Project","us-counties.csv")

In [91]:
stocks=pd.read_csv('Stock Betas.csv')
stocks
stocks.sample(5)

,Tickers,Title,Industry,Headquarters Location,Date first added,Beta long term,Beta current time
144,DVN,Devon Energy,Energy,Oil & Gas Exploration & Production,"Oklahoma City, Oklahoma",NaN,NaN
18,ALGN,Align Technology,Health Care,Health Care Supplies,"San Jose, California",NaN,NaN
245,IEX,IDEX Corporation,Industrials,Industrial Machinery,"Lake Forest, Illinois",NaN,NaN
196,FLIR,FLIR Systems,Information Technology,Electronic Equipment & Instruments,"Wilsonville, Oregon",NaN,NaN
393,QCOM,QUALCOMM Inc.,Information Technology,Semiconductors,"San Diego, California",0.95,0.97

In [92]:
virus=pd.read_csv('us-counties.csv')
virus.sample()

            date county state     fips  cases  deaths
1338  2020-03-11  Weber  Utah  49057.0      1       0

In [32]:
tickers = stocks["Tickers"]
list_tickers=tickers.tolist()
start_date="2020-01-31"
end_date=pd.datetime.now().date()
yesterday = end_date - dt.timedelta(days=2)

In [33]:
closing_price_stocks=yf.download(list_tickers,start_date,yesterday)

[*********************100%***********************]  505 of 505 completed

2 Failed downloads:
- BRK.B: No data found, symbol may be delisted
- BF.B: No data found for this date range, symbol may be delisted

In [85]:


closing_price_stockss=closing_price_stocks.T
aa = closing_price_stockss.index
aa.get_level_values(1)

Index(['A', 'AAL', 'AAP', 'AAPL', 'ABBV', 'ABC', 'ABMD', 'ABT', 'ACN', 'ADBE',
       ...
       'XLNX', 'XOM', 'XRAY', 'XRX', 'XYL', 'YUM', 'ZBH', 'ZBRA', 'ZION',
       'ZTS'],
      dtype='object', length=3030)

In [87]:
closing_price_stockss=closing_price_stocks.T
closing_price_stocks.to_csv(output_stock_price)

In [36]:
AA = closing_price_stockss.iloc[closing_price_stockss.index.get_level_values(0) == 'Adj Close']
AA.reset_index(inplace=True)  
AA = AA.drop(columns=['level_0'])
AA = AA.set_index('level_1')
AA.index.names = ['Tickers']

In [37]:
AAA = pd.merge(AA, stocks[['Tickers','Industry']],left_index=True, right_on="Tickers").set_index('Tickers')
AAA.sample(5)

,2020-01-31 00:00:00,2020-02-03 00:00:00,2020-02-04 00:00:00,2020-02-05 00:00:00,2020-02-06 00:00:00,2020-02-07 00:00:00,2020-02-10 00:00:00,2020-02-11 00:00:00,2020-02-12 00:00:00,2020-02-13 00:00:00,...,2020-04-01 00:00:00,2020-04-02 00:00:00,2020-04-03 00:00:00,2020-04-06 00:00:00,2020-04-07 00:00:00,2020-04-08 00:00:00,2020-04-09 00:00:00,2020-04-13 00:00:00,2020-04-14 00:00:00,Industry
Tickers,,,,,,,,,,,,,,,,,,,,,
PYPL,113.889999,116.510002,120.080002,119.720001,119.889999,118.879997,120.059998,118.839996,118.559998,120.510002,...,91.379997,93.519997,92.389999,101.669998,100.279999,105.059998,105.839996,105.980003,NaN,Information Technology
RJF,90.904701,91.431656,93.599129,95.319199,93.867584,93.509651,93.688622,95.945572,96.701210,98.192589,...,58.980000,59.980000,57.529999,64.209999,63.910000,66.599998,69.440002,67.430000,NaN,Financials
COST,304.877197,301.364624,304.258514,308.300018,310.609985,313.630005,313.790009,310.679993,315.119995,318.200012,...,286.779999,291.480011,288.649994,305.119995,303.630005,305.970001,300.010010,299.619995,NaN,Consumer Staples
ZBRA,239.020004,242.550003,247.869995,247.809998,252.089996,247.259995,248.550003,247.809998,251.990005,233.320007,...,176.460007,174.240005,178.080002,191.850006,192.360001,196.649994,201.220001,197.910004,NaN,Information Technology
UHS,136.896164,137.045929,138.274017,141.778549,140.859985,137.914581,139.392273,141.459030,140.091171,141.279327,...,87.919998,88.709999,85.379997,96.500000,98.389999,106.989998,104.510002,100.720001,NaN,Health Care

In [38]:
AAA['MeanTickers'] = AAA.mean(axis=1)
AAA.sample()

,2020-01-31 00:00:00,2020-02-03 00:00:00,2020-02-04 00:00:00,2020-02-05 00:00:00,2020-02-06 00:00:00,2020-02-07 00:00:00,2020-02-10 00:00:00,2020-02-11 00:00:00,2020-02-12 00:00:00,2020-02-13 00:00:00,...,2020-04-02 00:00:00,2020-04-03 00:00:00,2020-04-06 00:00:00,2020-04-07 00:00:00,2020-04-08 00:00:00,2020-04-09 00:00:00,2020-04-13 00:00:00,2020-04-14 00:00:00,Industry,MeanTickers
Tickers,,,,,,,,,,,,,,,,,,,,,
FDX,143.916412,143.120407,146.772049,149.199844,147.886459,154.881287,155.995682,157.209579,157.717026,160.662216,...,116.639999,109.220001,119.019997,115.949997,125.540001,122.290001,123.529999,NaN,Industrials,131.03345

In [42]:
grouped_industry=AAA.groupby(["Industry"]).agg([np.mean])

In [137]:
#grouped_industry.drop(columns='MeanTickers',inplace=True)

In [127]:
y_values=grouped_industry.index
y_values

Index(['Communication Services', 'Consumer Discretionary', 'Consumer Staples',
       'Energy', 'Financials', 'Health Care', 'Industrials',
       'Information Technology', 'Materials', 'Real Estate', 'Utilities'],
      dtype='object', name='Industry')

In [135]:
x_values= grouped_industry.iloc[ grouped_industry.columns.get_level_values(0)=='Date']
x_values

Empty DataFrame
Columns: [(2020-01-31 00:00:00, mean), (2020-02-03 00:00:00, mean), (2020-02-04 00:00:00, mean), (2020-02-05 00:00:00, mean), (2020-02-06 00:00:00, mean), (2020-02-07 00:00:00, mean), (2020-02-10 00:00:00, mean), (2020-02-11 00:00:00, mean), (2020-02-12 00:00:00, mean), (2020-02-13 00:00:00, mean), (2020-02-14 00:00:00, mean), (2020-02-18 00:00:00, mean), (2020-02-19 00:00:00, mean), (2020-02-20 00:00:00, mean), (2020-02-21 00:00:00, mean), (2020-02-24 00:00:00, mean), (2020-02-25 00:00:00, mean), (2020-02-26 00:00:00, mean), (2020-02-27 00:00:00, mean), (2020-02-28 00:00:00, mean), (2020-03-02 00:00:00, mean), (2020-03-03 00:00:00, mean), (2020-03-04 00:00:00, mean), (2020-03-05 00:00:00, mean), (2020-03-06 00:00:00, mean), (2020-03-09 00:00:00, mean), (2020-03-10 00:00:00, mean), (2020-03-11 00:00:00, mean), (2020-03-12 00:00:00, mean), (2020-03-13 00:00:00, mean), (2020-03-16 00:00:00, mean), (2020-03-17 00:00:00, mean), (2020-03-18 00:00:00, mean), (2020-03-19 00:00:00, mean), (2020-03-20 00:00:00, mean), (2020-03-23 00:00:00, mean), (2020-03-24 00:00:00, mean), (2020-03-25 00:00:00, mean), (2020-03-26 00:00:00, mean), (2020-03-27 00:00:00, mean), (2020-03-30 00:00:00, mean), (2020-03-31 00:00:00, mean), (2020-04-01 00:00:00, mean), (2020-04-02 00:00:00, mean), (2020-04-03 00:00:00, mean), (2020-04-06 00:00:00, mean), (2020-04-07 00:00:00, mean), (2020-04-08 00:00:00, mean), (2020-04-09 00:00:00, mean), (2020-04-13 00:00:00, mean), (2020-04-14 00:00:00, mean)]
Index: []

[0 rows x 51 columns]

In [138]:
# Add the linear regression equation and line to plot
#x_values = housing_data['RM']
#y_values = housing_data['MEDV']
(slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
regress_values = x_values * slope + intercept
line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
plt.scatter(x_values,y_values)
plt.plot(x_values,regress_values,"r-")
plt.annotate(line_eq,(6,10),fontsize=15,color="red")
plt.xlabel('Days')
plt.ylabel('Stock Prices')
plt.show()

ValueError: Inputs must not be empty.

In [139]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 3AE6-9CC7

 Directory of C:\Users\veyce\Downloads\bootcamp\Homework-07-Group Project

04/16/2020  08:39 PM    <DIR>          .
04/16/2020  08:39 PM    <DIR>          ..
04/15/2020  11:24 PM    <DIR>          Homework
04/16/2020  06:44 PM         2,484,567 Stock Prices.csv
04/16/2020  07:24 PM         2,207,623 us-counties.csv
               2 File(s)      4,692,190 bytes
               3 Dir(s)  385,267,314,688 bytes free